<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso</title>
    <link rel="stylesheet" href="/css/acceso.css">
    <%- include('partials/head.ejs') %>
</head>


<body>
    <%-include('partials/nav.ejs')%>

        <div class="container p-4" align="center">
            <h1>Iniciar sesión</h1>
            <span>O  <a href="registro">Registrate</a></span>

            <div class="col-md-4">
                <div class="container p-2">
                    <div class="card card-body">
                        <form action="#" method="POST">

                            <div class="form-group">
                                <input type="text" name="email" placeholder="Ingresar tu correo" class="form-control">
                            </div>

                            <div class="form-group">
                                <input type="password" name="password" placeholder="Ingresa tu contraseña" class="form-control">
                            </div>
                            <input type="submit" name="log" value="Acceder" class="btn btn-block  btn-success">
                        </form>
                    </div>

                </div>
            </div>
        </div>




</body>

</html>