<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <%- include('partials/head.ejs') %>
</head>

<body>
    <%- include('partials/nav.ejs') %>

        <div id="central" class="container">
            <h2>Una herramienta para aplicación de examenes confiable!</h2>
            <br>
            <div class="row">
                <img src="resources/inicio.jpg">
                <br>
                <br>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore dicta accusantium eius voluptates rem doloremque in aperiam iure aspernatur exercitationem temporibus debitis provident dolorum praesentium, asperiores distinctio. Exercitationem,
                    repellat officiis. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi possimus deleniti sit recusandae animi rerum voluptas. Debitis voluptate ipsam laborum, dolorem maiores tempora ratione accusantium. Repellendus recusandae
                    quibusdam obcaecati quam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias placeat, aperiam earum quo repudiandae officia totam illo recusandae laborum, temporibus error magnam, architecto odio voluptatibus blanditiis
                    illum modi in nulla!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia temporibus maiores pariatur laudantium officia veritatis provident soluta harum, optio velit unde eos, amet atque magnam perspiciatis ex dicta aliquid tempora? Lorem, ipsum
                    dolor sit amet consectetur adipisicing elit. Atque perspiciatis molestias veritatis ex iste officiis velit ratione harum nesciunt, mollitia aut accusamus aperiam enim adipisci voluptatum consequatur fuga ipsum fugit.</p>
            </div>

        </div>


</body>

</html>